@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body{
  font-family: "Electrolize", sans-serif; 
  font-size: 16px;
}

.container{
  margin-left: 5%;
  margin-right: 5%;
}

.row{
  display:  flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.h-center{
  justify-content: center;
}

.text-center{
  text-align: center;
}
.d-none{
  display: none;
}
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-10
{
  width: 100%;
}

@media screen and (min-width: 768px){
  .col-md-4{width: 40%;}
  .col-md-5{width: 50%;}
  .col-md-6{width: 60%;}
  .col-md-7{width: 70%;}
  .col-md-10{width: 100%;}
}

.icon{
  width: 30px;
  height: 30px;
  
}

.div-icon{
  max-height: 50px;
}

.div-icon:hover img{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background-color: #201c1c;
}

.tecnologias{
  font-size: clamp(1em, 1em + .8vw,2em);
  align-self: flex-end;
}

.foto{
  width: 100%;
  border: 1px solid #000;
  border-radius: 0.8rem;
  box-shadow: 0 0 2vw #111111;
}

.project{
  background-color: #ccf7ff;
  box-shadow: 0 10px 10px #111111;
  margin: 3vw 0 3vw 0;
}
.project > div{
  padding: 3vw 3vw 3vw 3vw;
}
.project > h1{
  padding-top: 3vw;
  letter-spacing: .8vw;
  font-size: 4vw;
}

.project-discription{
  font-size: clamp(1em, 1em + 1vw, 2em);
}

#contato{
  background-color: #29292e;
  color: #fff;
  padding: 20px 0px 20px 0px;
}

#contato div{
  margin: 10px;
}

#contato a{
  text-decoration: none;
  color: #fff;
  font-size: 16pt;
  padding: 20px;
}

#perfil{
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 1rem 1rem #29292e;
  transition: 2s;
}

#perfil:hover{
  border-radius: 5%;
  transition: 2s;
}

.titulo{
  padding: 2%;
  background-color: #29292e;
  color: #fff;
  margin-bottom: 5px;
  font-size: 6vh;
  text-align: center;
}

#div-sbm{
  font-size: 4vh;
  margin: 5%;
  padding: 4%;
}

#home{
  padding-top: 19vw;
  padding-bottom: 19vw;
  background-color: #29292e;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: overlay;
  color: #fff;

}

#home h1{
  font-size: clamp(2em, 2em + 3vw, 6em);
}
#home h2{
  font-size: clamp(1em, 1em + 1vw, 3em);
  margin-top: 1vw;
}

.link-gitHub {
  text-decoration: none;
  border-color: #3498db;
  padding: 15px;
  font-size: clamp(1em, 1em + .5vw, 1.5em);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.link-gitHub:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  color: #000;
}